.radios {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.radio {
  composes: card from '../__theme.css';
  display: flex;
  justify-content: center;
  width: 49%;
  margin-bottom: 1%;
}

.label {
  padding: 20px 0;
  cursor: pointer;
}

.input {
  margin-right: 10px;
}

.errorBox {
  composes: card from '../__theme.css';
  margin: auto;
  width: 100%;
  padding: 20px 0;
  color: red;
}
