.radios {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.radio {
  composes: card from '../__theme.css';
  display: flex;
  justify-content: center;
  width: 47%;
  margin: 1%;
}

.label {
  padding: 20px 0;
  cursor: pointer;
}

.input {
  margin-right: 10px;
}
