.answers {
  max-width: 600px;
  width: 90%;
  margin: 10px auto;
}

ul.answers {
  padding: 0;
}

.answers li {
  list-style: none;
}

.answer {
  composes: card from './__theme.css';
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
  margin: 20px 0;
}

.question {
  font-weight: bold;
}

.response {
  margin-top: 10px;
}
